@font-face {
    font-family: "sharkyFont";
    src: url("img/5.Font/Luckiest_Guy/LuckiestGuy-Regular.ttf");
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "sharkyFont";
}
h1{
    font-size: 64px;
    text-align: center;

}
h2{
    font-size: 32px;
    margin: 0px;
}
h3{
    font-size: 18px;
    color: white;
    margin: 0px;
    text-align: center;
}
h5{
    font-size: 12px;
    color: white;
    margin: 0px;
}
canvas{
    background-color: black;
    display: block;
    position: absolute;
}

.dsp-none{
    display: none !important; 
}
.background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    z-index: -1;
    filter: opacity(20%)
}
#canvasPanels{
    height: 480px;
    width: 720px;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    border:1px solid black;
}
#startScreen{
    position: absolute;
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: black;
}
#startScreen .startButton{
    position: absolute;
    bottom: calc(50% - 50px);
    right: calc( 50% - 150px );
    width: 300px;
    height: 100px;
}
#startScreen .startButton:hover{
    filter: invert();
    cursor: pointer;
}
#startScreen .startImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#loadingScreen{
    position: absolute !important; 
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingFont{
    color: white;
    position: relative;
    font-size: 200px;
}
#GameOverScreen{
    position: absolute;
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameOverImg{
    width: 620px;
}
.tryAgainButton{
    position: absolute;
    bottom: 50px; 
    width: 300px;
}
.tryAgainButton:hover{
    filter: invert();
    cursor: pointer;
}

#winScreen{
    position: absolute;
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.winImg{
    width: 620px;
}
#gameOverlayButtons{
    position: absolute;
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /*pointer-events: none;*/
}
.fullscreenBtn{
    position: absolute;
    bottom: 90px;
    right: 10px; 
    width: 100px;
}
.fullscreenBtn:hover{
    filter: invert();
    cursor: pointer;
}
#instructionBtn{
    position: absolute;
    bottom: 50px;
    right: 10px; 
    width: 100px;
}
#restartBtn{
    position: absolute;
    bottom: 10px;
    right: 10px; 
    width: 100px;
}
.sharkyBtn{
    background-color: #7FFFE0;
    border: 1px solid white; 
    border-radius: 8px;
    font-family: "sharkyFont";
    color: #521A82;
    padding-top: 6px;
    padding-bottom: 4px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 12PX;
}
.sharkyBtn:hover{
    filter: invert();
    cursor: pointer;
}
#instructionOverlay{
    position: absolute;
    top: 0; 
    left: 0;
    height: 480px;
    width: 720px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}
#closeInstructionBtn{
    position: absolute;
    top: 10px;
    right: 10px; 
}
.instructionRow{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}
.instructionRowItem{
    min-width: 250px;
}
#instructions{
    display: flex;
    gap:20px; 
    flex-direction: column ;
    width: 100%;
    margin-top: 48px;
}
#instructionKeysImage{
    width: 100px; 
    object-fit: contain;
}
#instructionBubbleKey{
    width: 50px; 
    object-fit: contain;
}
#instructionFinKey{
    width: 150px; 
    object-fit: contain;
}
#instructionText{
    margin-left: 24px;
    margin-right: 24px;
    text-align: center;

}
#canvasPanels>* {
    height: 100%;
    width: 100%;
}
#OverlayPanels>* {
    position: relative;
    width: 100%;
    height: 100%;
}
.mobileBtn{
    width: 60px;
    filter: invert();
    opacity: 0.8;
}
#mobileUpBtn{
    position: absolute;
    bottom: 80px;
    left: 150px; 
}
#mobileDownBtn{
    position: absolute;
    bottom: 10px;
    left: 150px; 
}
#mobileLeftBtn{
    position: absolute;
    bottom: 10px;
    left: 70px; 
}
#mobileRigthBtn{
    position: absolute;
    bottom: 10px;
    left: 230px; 
}
#mobileFinBtn{
    background-color: transparent;
    border-radius: 50%;
    font-size: 12px;
    font-family: "sharkyFont";
    color: white;
    opacity: 0.8;
    border: 8px solid white;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 10px;
    right: 150px; 
}
#mobileBubbleBtn{
    background-color: transparent;
    border-radius: 50%;
    font-size: 10px;
    font-family: "sharkyFont";
    color: white;
    opacity: 0.8;
    border: 8px solid white;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 100px;
    right: 150px; 
}
#mobileButtons{
    display: none;
}
.mobileMoveBtn{
    background-color: transparent;
    border-radius: 50%;
    font-size: 12px;
    font-family: "sharkyFont";
    color: white;
    opacity: 0.8;
    border: 8px solid white;
    height: 60px;
    width: 60px;
}
#instructionKeysStartScreenPanel{
    display: flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 100px;
}
#instructionKeysImageStartScreen{
    width: 70px; 
    object-fit: contain;
}
#instructionBubbleStartScreenPanel{
    display: flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 50px;
}
#instructionBubbleStartScreen{
    width: 25px; 
    object-fit: contain;
}
#instructionFinStartScreenPanel{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap:12px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: calc(50% - 100px);
}
#instructionFinStartScreen{
    width: 100px; 
    object-fit: contain;
}
#rotate{
    margin-top: 50px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#rotateScreenImage{
    width: 50px;
}
#soundIcon{
    position: absolute;
    filter: invert();
    bottom: 135px;
    right: 10px; 
    width: 30px;
}
#soundIcon:hover{
   cursor: pointer;
}
@media only screen and (max-width: 720px){
     #canvasPanels{
        width: 100%; 
    }
    #headerTitle{
        display: none;
    }
    #mobileButtons{
        display:block
    } 
    .fullscreenBtn{
       display: none;
    }
    #instructionBtn{
        position: absolute;
        bottom: unset;
        top: 50px;
        right: 25px;
    }
    #restartBtn{
        position: absolute;
        bottom: unset;
        top: 90px;
        right: 25px;
    }
    #soundIcon{
        bottom: unset;
        top: 130px;
        right: 25px;
    }
    #mobileBubbleBtn {
        position: absolute;
        bottom: 10px;
        right: 50px;
    }
}
@media only screen and (max-height: 480px){
    #canvasPanels{
        height: 100vh;
    }
    #headerTitle{
        display: none;
    }
    #mobileButtons{
        display:block
    } 
    .fullscreenBtn{
        display: none;
     }
     #instructionBtn{
         position: absolute;
         bottom: unset;
         top: 50px;
         right: 25px;
     }
     #restartBtn{
         position: absolute;
         bottom: unset;
         top: 90px;
         right: 25px;
     }
     #soundIcon{
         bottom: unset;
         top: 130px;
         right: 25px;
     }
     #mobileBubbleBtn {
         position: absolute;
         bottom: 10px;
         right: 50px;
     }
    
}
@media screen and (orientation:portrait) {
    #canvasPanels{
        display: none;    
    }
    #rotate{
        display: flex;
    }
}